.menu-item{
    text-decoration: none;
    display: flex;
    border: 1px solid #E6E8F4;
    padding: 16px 0px;
    color: #000;
    transition: background-color ease-in-out 50ms;

    &:active {
        background-color: #E6E8F4;
        font-weight: 600;
    }

    &:hover {
        background-color: #ededf3;
    }
}

.content{
    margin-left: 24px;
}

.activeStyle {
    text-decoration: none;
    display: flex;
    border: 1px solid #E6E8F4;
    padding: 16px 0px;
    color: #000;
    background-color: #E6E8F4;
    font-weight: 600;
}
